[submodule "PASTA_CSG"]
	path = PASTA_CSG
	url = https://github.com/vivekvjk/PASTA_CSG.git
[submodule "PASTA_robustnet"]
	path = PASTA_robustnet
	url = https://github.com/ksarangmath/PASTA_robustnet.git
